body{
    text-align: center;
    background-color: honeydew
    
}

h1{
    font-family: 'Akaya Kanadaka', cursive;

}
hr{
    ;
    width:100px;}
    
#hi{background-color: dodgerblue;
        
    }
    